<div class="root">
  <div class="controls" [formGroup]="formGroup">
    <div class="control-item">
      <p>Worklogs</p>
      <textarea formControlName="workLogControl" placeholder="Worklogs"></textarea>
    </div>

    <div class="control-item -middle">
      <label>
        <input type="checkbox" formControlName="groupByIssueControl">
        Is Group by issue
      </label>
    </div>

    <div class="control-item">
      <p>Grouping Rules</p>
      <textarea class="rules" formControlName="rules"></textarea>
    </div>
  </div>

  <div *ngIf="boardData$ | async as boardData" class="board">
    <h3>{{ (boardData.time / 60).toFixed(2) }}</h3>

    <div class="board-data">
      <div
        *ngFor="let item of boardData.logs"
        class="board-item"
        [class.-opened]="(openedItem$ | async) === item.key"
      >
        <div class="board-item-data">
          <div class="board-key" [title]="item.key">{{ item.key }}</div>
          <div class="board-issue">{{ item.issue }}</div>
          <div>{{ (item.time / 60).toFixed(2) }}</div>
          <div class="percent-line">
            <div class="percent" style="width: {{ item.percent * 2 }}%"></div>
            <span class="percent-text">{{ item.percent.toFixed(2) }}%</span>
          </div>
          <button class="board-more" (click)="toggleItem(item.key)">+{{ item.logs.length }}</button>
        </div>

        <div class="board-item-list">
          <div *ngFor="let it of item.logs">
            {{ it.time }}
            {{ it.comment }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--div class="table">
    <div *ngFor="let item of logs$ | async" class="tr">
      {{ item | json }}
    </div>
  </div-->
</div>

